extends _layout.pug

block locals
    - var title = "Hello pug"

block content
    h1 Hello Pug!
    div#react-root
    img(src="../images/icon.png", alt="")
    img(src="../images/thumbnail.png", alt="")
    img(src="../images/thumbnail2.png", alt="")
